<section id="contact">
  <h2>Keep In Touch</h2>

  <a href="https://twitter.com/maeghansmulders"><img src="/assets/images/twitter.png"></a>
  <a href="https://www.facebook.com/msmulders"><img src="/assets/images/facebook.png"></a>
  <a href="https://instagram.com/maeghansmulders/"><img src="/assets/images/instagram.png"></a>
  <a href="https://www.youtube.com/channel/UChVmm2HA6SX4HB0SMAkNkYQ"><img src="/assets/images/youtube.png"></a>
  <a href="https://www.linkedin.com/in/maeghansmulders/"><img src="/assets/images/linkedin.png"></a>

 </div> <div class="grid-item">
        <div class="boxed">
         	<p>You can <u><a href="mailto:maeghansmulders@gmail.com">email me</u>,</a></a> look me up on the line, or follow the things I post.</p>

  			<p> Thanks for stopping by &#128075;</p>
  			</div>
  		</div>
    </div> 
</section>