<ul class="menu">
  <div class="topnav" id="myTopnav">
    <li><a href="/#about">About</a></li>
    <li><a href="/#work">Work</a></li>
    <li><a href="/#blog">Blog</a></li>
    <li><a href="/#contact">Contact</a></li>
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">&#9776;</a>
  </div>
</ul>