<div class="project">
	<header style="background-image: url({{> backgroundUrl}});">
		<div class="wrapper">
			<h1>{{> title}}</h1>
		</div>
	</header>

	<div class="wrapper">

		{{> description}}

		<hr>

		{{> longer_description}}

		<p class="roles">{{> roles}}</p>
	</div>

	<div class="feature slant-light">
		<div class="wrapper">
			{{> feature}}
		</div>
	</div>