<!––Images 290x290 on Projects and 250x250 on Work ––>
  <li>
    <a class="rig-cell" href="{{url}}">
      <img class="rig-img" src="{{image}}">
      <span class="rig-overlay"></span>
      <span class="rig-text">{{text}}</span>
    </a>
  </li>