{{#> project}}
	{{#*inline "backgroundUrl"}}/assets/images/alittledetour_header.jpg{{/inline}}

	{{#*inline "title"}}
		A Little Detour
	{{/inline}}

	
	{{#*inline "description"}}
			<h4>Description:</h4>
				<p>In 2017 I had the opportunity to take an extended coffee break and embark on a year long  adventure around the world.</p> 

				<p>I picked up some new hobbies, tried a bunch of new things and created A Little Detour with my partner so that we could reflect on our travels for keepsake and reassure our moms while we were away, that we are doing okay. </p>
				<br>
	
	<center><img class="profile" src="/assets/images/travel_dashboard.jpg"></center>

		<center><h5>Travel Stats:</h5>
		<p>We are data nerds, so here is our trip in numbers.</p>
		<br>
		<center>
			<button class="button2">
				<a href="https://alittledetour.ca/">Visit A Little Detour</a>
			</button>
		</center>
		<br>
	{{/inline}}
	
	{{#*inline "longer_description"}}
		
	{{/inline}}

	{{#*inline "roles"}}
		Roles: explorer / mountain climber / trip planner / finance maanger / fun finder / photographer / videographer / blogger / everyday first timer 
	{{/inline}}

	{{#*inline "feature"}}
		<h5>As co-adventurer some highlights include:</h5>
		<ul>
			<li> Achieving more than 100+ goals that had been set rom the age of 13 years old</li>
			<li> Broadening my perspective by listening, interacting and reflecting on life outside of my ordinary</li>
			<li> Designing, documenting and sharing our travels</li>
			<li> Learning new skills and exploring new opportunities</li>
			<li> Grateful to have more than enough short stories to share at every dinner party from now until I am 100 years old 🙂</li>
		</ul>
		<br>
		<br>
		<br>
		<center>
			<button class="button">
				<a href="/#work">See more work</a>
			</button>
		</center>
	{{/inline}}

{{/project}}
{{#> footer}}
{{/footer}}


