<div class="partial-book">
    <header style="background-image: url(/assets/images/book.jpg);">
        <div class="wrapper">
            <h5>I wrote a book!</h5>
            <p>Brave, smart, kind, and fearless role models inspire the hearts and minds of all ages. She Can Be is a
                colourful
                and fun story that follows the curious Mae on her adventure to discover what she could be when she grows
                up.</p>
            <br>

            <button class="button">
                <a href="mailto:hi@maeghansmulders.com">Order on Amazon</a>
            </button>
        </div>
    </header>
</div>

{{#> footer}}
{{/footer}}