<div class="partial-book">
    <header style="background-image: url(/assets/images/book.jpg);">
        <div class="wrapper book-hero-text-wrapper">
            <h5>I wrote and illustrated a book!</h5>
            <p>Brave, smart, kind, and fearless role models inspire the hearts and minds of all ages. She Can Be is a
                colourful and fun story that follows the curious Mae on her adventure to discover what she could be when
                she grows
                up. I really enjoyed making it and I hope you'll love reading it!</p>
            <br>

            <button class="button button-book">
                <a href="https://bit.ly/shecanbebook">Order on Amazon.com</a>
            </button>

            <button class="button button-book">
                <a href="https://bit.ly/shecanbe">Order on Amazon.ca</a>
            </button>
        </div>
    </header>
</div>

{{#> footer}}
{{/footer}}