{{#> project}}
	{{#*inline "backgroundUrl"}}/assets/images/intel_header.jpg{{/inline}}

	{{#*inline "title"}}
		
	{{/inline}}

	
	{{#*inline "description"}}

	<center><h5>Work featured in:</h5>
		<p>Mashable, The Today Show, Business Insider, USA Today, Huffington Post, Ellen Degeneres and more.</p>
		<br>

		<div class="work-projects grid-container grid-columns-3">
      		<a target="_blank" href="https://www.youtube.com/playlist?list=PLFxQvGFq1yRX2qUEBFF5xEfo1g0xQSdoB" class="grid-item grid-item__center" style="background-image:url(/assets/images/creative.jpg);"><h1>Creative Campaigns</h1></a>
      		<a target="_blank" href="https://www.youtube.com/playlist?list=PLFxQvGFq1yRU_SWdBVkqivlzubE2cik5_" class="grid-item grid-item__center" style="background-image:url(/assets/images/jimparsons.jpg)"><h1>Television Commercials</h1></a>
     		<a target="_blank" href="https://www.youtube.com/playlist?list=PLFxQvGFq1yRUzWUqsxijwzZ-PV0EcZvCA" class="grid-item grid-item__center" style="background-image:url(/assets/images/launch.jpg)"><h1>Launch Strategy</h1></a>
    	</div>

    	<div class="work-projects grid-container grid-columns-3">
    		<a target="_blank" href="https://www.youtube.com/playlist?list=PLFxQvGFq1yRWDyajcJxGF9QGhqant8I_y" class="grid-item grid-item__center" style="background-image:url(/assets/images/publicrelations.jpg);"><h1>Public Relations</h1></a>
    		<a target="_blank" href="https://www.youtube.com/playlist?list=PLFxQvGFq1yRXwTj-aJb3IvGg_pkWvOuuf" class="grid-item grid-item__center" style="background-image:url(/assets/images/events.jpg);"><h1>Events & Promotion</h1></a>
    		<a target="_blank" href="https://www.youtube.com/playlist?list=PLFxQvGFq1yRWPDFcIDk9Es1Cf9pSlt-R9" class="grid-item grid-item__center" style="background-image:url(/assets/images/corporate.jpg);"><h1>Product Education</h1></a>
    	</div>
      
		<p>When Intel acquired PasswordBox in 2015, we launched a new, jointly-built software called True Key by Intel Security. <br>My team grew along with my responsibilities, as I became a budget-backed growth hacker, creative soul and the face of True Key.</p>
		<br>


		
	{{/inline}}
	
	{{#*inline "longer_description"}}
		
	{{/inline}}

	{{#*inline "roles"}}
		Roles: launch strategy / project management / creative concept / awareness / PR / user acquisition / content marketing / social media marketing / <br> technical marketing / agency manager / data + multi-stakeholder reporter / evangelist + spokesperson  

	{{/inline}}

	{{#*inline "feature"}}
		 <section id="about">

		 	<div class="grid-container grid-columns-2">
      <div class="grid-item" style="background-image:url(/assets/images/corporatecool.jpg);"></div>
      <div class="grid-item">
        <div class="boxed">
          <h4>Something Cool...</h4>
          <p>I lead the launch strategy for True Key and landed a spot on stage for the grand unveiling of the application at CES 2015, with the CEO of Intel.  True Key was the company's most successful product launch to date.</p>
        </div>
      </div>
    </div>
  </div>
	{{/inline}}

{{/project}}
{{#> footer}}
{{/footer}}


