{{#> project}}
	{{#*inline "backgroundUrl"}}/assets/images/intel_header.jpg{{/inline}}

	{{#*inline "title"}}
		Creative Campaigns
	{{/inline}}

	
	{{#*inline "description"}}
			<h4>Description:</h4>
				<p>Working at Intel in their security division was awesome. I was given the chance to define “Big Idea” concepts and partner with leading agencies, corporate partners and share our work with the world. </p> 

				<p>Incorporating creative direction with data driven objectives was at the core of each campaign no matter how big or small. Whether the focus was engagement, awareness, acquisition or retention - my team and I were able to do some incredible things.</p>
				<br>
	<ul id="rig">
	       {{>
	      project_block
	      url="https://www.youtube.com/watch?v=pFUlg-X1IlA&index=5&list=PLFxQvGFq1yRWGhtBWgUrGgBwkSwBLGpzA"
	      image="/assets/images/truekey_news.jpg"
	      text="In The News"
	    }}
	    {{>
	      project_block
	      url="https://mashable.com/2016/04/12/intel-security-commercial/?europe=true#HdYMwLJTPZql"
	      image="/assets/images/truekey_tv.jpg"
	      text="Awareness & Education"
	    }}
	    {{>
	      project_block
	      url="https://techcrunch.com/2013/11/13/passwordbox-series-a/"
	      image="/assets/images/funding_passwordbox.jpg"
	      text="Venture Funding"
	    }}
	    {{>
	      project_block
	      url="https://www.cantechletter.com/2014/01/montreals-passwordbox-snags-best-mobile-app-award-ces-2014/"
	      image="/assets/images/CES_passwordbox.jpg"
	      text="CES Best App"
	    }}
		</ul>

		<center><h5>Work featured in:</h5>
		<p>Mashable, Business Insider, Huffington Post, Ellen Degeneres, George Takei and more </p>
		<br>
	{{/inline}}
	
	{{#*inline "longer_description"}}
		
	{{/inline}}

	{{#*inline "roles"}}
		Roles: creative concept / strategy / execution / agency management / budget management / data driven objectives / multi-stakeholder reporting
	{{/inline}}

	{{#*inline "feature"}}
		<h5>As a creative enthusiast, some highlights include:</h5>
		<ul>
			<li> Leading World Password Day 2015 and garnering the highest engagement rate since the conception of the PSA</li>
			<li>  Partnering with the White House (Obama Administration) in the nationwide campaign “Lock Down Your Login” to encourage better password habits</li>
			<li>  Leading partnership campaigns with Microsoft, Lenvo, Dell, Dutechue Telecom, Softbank, Intel, McAfee and more.</li>
			<li> Developing “Big Idea” concept from scratch and executing on the project in its entirety</li>
			<li>The 1in7Billion campaign featured in many popular news outlets and with Ellen Degeneres </li>
		</ul>
		<br>
		<br>
		<br>
		<center>
			<button class="button">
				<a href="/#work">See more work</a>
			</button>
		</center>
	{{/inline}}

{{/project}}
{{#> footer}}
{{/footer}}


