<header>
  <div class="wrapper">
    <h1>Maeghan Smulders</h1>
    <p><b>A passionate storyteller, tech fanatic & maker of things.</b></p>
  </div>
</header>

<div class="wrapper">
  <section id="about">
    <div class="grid-container grid-columns-2">
      <div class="grid-item" style="background-image:url(/assets/images/background_head10.jpeg);"></div>
      <div class="grid-item">
        <div class="boxed">
          <h4>Hi there</h4>
          <p>I’m Maeghan; A full-stack product marketer and nomad of sorts. I solve problems in unconventional ways and
            always have a story to tell. My work and curiosity has taken me around the world and I am grateful to have
            had the opportunity to work on memorable things with incredible people.</p>
        </div>
      </div>
    </div>
  </section>
</div>

<section id="work">
  <h2>Work & Projects</h2>
  <p>I’m on a mission to do big things with people I admire, and strongly believe it starts with finding passion and
    purpose. <br>Here’s a peek of some work that includes collaborations with folks from The White House, Fortune 500
    companies and friends in my community.</p>
  <div class="work-projects grid-container grid-columns-3">
    <a href="/project/intern" class="grid-item grid-item__center"
      style="background-image:url(/assets/images/projectone12.jpg);">
      <h1>Intern</h1>
    </a>
    <a href="/project/startup" class="grid-item grid-item__center"
      style="background-image:url(/assets/images/startup.jpg)">
      <h1>Startup</h1>
    </a>
    <a href="/project/corporate" class="grid-item grid-item__center"
      style="background-image:url(/assets/images/corporate.jpg)">
      <h1>Corporate</h1>
    </a>
  </div>

  <div class="work-projects grid-container grid-columns-3">
    <a href="/project/volunteer" class="grid-item grid-item__center"
      style="background-image:url(/assets/images/volunteer.jpg);">
      <h1>Volunteer</h1>
    </a>
    <a href="/project/speaking" class="grid-item grid-item__center"
      style="background-image:url(/assets/images/speaker.jpg);">
      <h1>Speaker</h1>
    </a>
    <a href="/project/book" class="grid-item grid-item__center" style="background-image:url(/assets/images/book.jpg);">
      <h1>Book</h1>
    </a>
  </div>
</section>

<div style="background-color: #282828;">
  <section id="blog">
    <h2>Some Personal Things</h2>
    <div class="transbox-container">
      <div class="transbox">
        <h5>A Little Detour</h5><br>
        <button class="button">
          <a href="https://alittledetour.ca/">I traveled the world for two years &#127758;</a>
        </button>
      </div>

      <div class="transbox">
        <h5>Blog</h5><br>
        <button class="button">
          <a href="https://medium.com/@maeghansmulders/latest?utm_source=website&utm_medium=blog&utm_campaign=medium">Sometimes
            I write stuff on Medium &#128587;</a>
        </button>
      </div>
    </div>
  </section>
  {{> contact}}
  {{> footer}}
</div>