<header>
  <div class="wrapper">
    <h1>Maeghan Smulders</h1>
    <p><b>A passionate storyteller, tech fanatic & creator of things.</p></b>
  </div>
</header>
<div class="wrapper">
  <section id="about">
    <div class="grid-container grid-columns-2">
      <div class="grid-item" style="background-image:url(/assets/images/profile.jpg);"></div>
      <div class="grid-item">
        <div class="boxed">
          <h4>Hi there,</h4>
          <p>I’m Maeghan. A full-stack product marketer and nomad of sorts. I solve problems in unconventional ways and always have a story to tell. My work and personal drive has taken me around the globe and I am forever grateful to have the opportunity to work on memorable things with incredible people.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="work">
  <h2>Work & Projects</h2>
  <p>I'm on a mission to do big things with people I admire and strongly believe it starts with finding passion and purpose. <br>Here's a peek of some work that includes collaborations with folks from the White House, All-Girl Hack Night, Microsoft and more.</p>
  <div class="work-projects grid-container grid-columns-3">
    <div class="grid-item" style="background-image:url(/assets/images/projectone12.jpg);"><h1>Intern</h1></div>
    <div class="grid-item" style="background-image:url(/assets/images/startup.jpg)"><h1>Startup</h1></div>
    <div class="grid-item" style="background-image:url(/assets/images/corporate.jpg)"><h1>Corporate</h1></div>
  </div>
  <div class="work-projects grid-container grid-columns-2">
    <div class="grid-item" style="background-image:url(/assets/images/volunteer.jpg);"><h1>Volunteer</h1></div>
    <div class="grid-item" style="background-image:url(/assets/images/speaker.jpg);"><h1>Speaker</h1></div>
  </div>
</section>

<div style="background-color: #282828;">
  
  <section id="blog">
    <h2>Some Personal Things</h2>
    <div class="transbox-container">
      <div class="transbox">
        <h4>A Little Detour</h4><br>
        <button class="button">
        <a href="https://medium.com/@maeghansmulders/latest?utm_source=website&utm_medium=blog&utm_campaign=medium">Two years traveling around the world.</a>
        </button>
      </div>
      <div class="transbox">
        <h4>Blog</h4><br>
        <button class="button">
        <a href="https://medium.com/@maeghansmulders/latest?utm_source=website&utm_medium=blog&utm_campaign=medium">Sometimes I write stuff on Medium</a>
        </button>
      </div>
    </div>
  </section>
  {{> contact}}
  {{> footer}}
</div>