{{#> project}}
	{{#*inline "backgroundUrl"}}/assets/images/intel_header.jpg{{/inline}}

	{{#*inline "title"}}
		Intel Security
	{{/inline}}

	
	{{#*inline "description"}}
			<h4>Description:</h4>
				<p>True Key by Intel Security is an award-winning mobile and desktop app to remove the hassle of passwords.   It lets you log into the app using things unique to you like your face or fingerprint, so you can log in to the rest of the web password-free.</p> 

				<p>After PasswordBox was acquired in 2015, True Key was a new joint product we built together with Intel. My team grew along with some new responsibilies as the public face and creative soul of the True Key. 🤗</p>
				<br>
	<ul id="rig">
	    {{>
	      project_block
	      url="https://www.wsj.com/articles/the-answer-to-what-is-my-password-again-1377036496"
	      image="/assets/images/news_passwordbox.jpg"
	      text="In the news"
	    }}
	     {{>
	      project_block
	      url="https://www.youtube.com/watch?time_continue=4&v=hpgXFvYw0DQ"
	      image="/assets/images/speaker_passwordbox.jpg"
	      text="Spokesperson"
	    }}
	    {{>
	      project_block
	      url="https://techcrunch.com/2013/11/13/passwordbox-series-a/"
	      image="/assets/images/funding_passwordbox.jpg"
	      text="Venture Funding"
	    }}
	    {{>
	      project_block
	      url="https://www.cantechletter.com/2014/01/montreals-passwordbox-snags-best-mobile-app-award-ces-2014/"
	      image="/assets/images/CES_passwordbox.jpg"
	      text="CES Best App"
	    }}
		</ul>

		<center><h5>Work featured in:</h5>
		<p>Mashable, Business Insider,  USA Today, Huffington Post, Ellen Degeneres and more.</p>
		<br>
	{{/inline}}
	
	{{#*inline "longer_description"}}
		
	{{/inline}}

	{{#*inline "roles"}}
		Roles: launch strategy / project management / creative concept / awareness / PR / user acquisition / content marketing / social media marketing / technical marketing / business development evangelist + spokesperson
	{{/inline}}

	{{#*inline "feature"}}
		<h5>Managing A little bit of everything, some highlights include:</h5>
		<ul>
			<li> Working with Intel to manage the transition of PasswordBox to its new management team</li>
			<li> Planning, executing and announcing True Key at CES 2015 on stage with the CEO of Intel and driving the most PR coverage of any Intel Security product</li>
			<li> Leading collaborations on cross marketing campaigns with the White House (Obama   administration), Microsoft, Lenovo, Dutche Telecom, McAfee, Intel worldwide and more.</li>
			<li> Responsible for global product training and internal product expert </li>
			<li> Developing full spread creative initiatives for TV commercials, awareness marketing campaigns, public facing PR and media</li>
			<li> Contributing member to customer marketing and engagement efforts</li>
			<li> Working from both our California and Montreal based offices </li>
		</ul>
		<br>
		<br>
		<br>
		<center>
			<button class="button">
				<a href="/#work">See more work</a>
			</button>
		</center>
	{{/inline}}

{{/project}}
{{#> footer}}
{{/footer}}


