{{#> project}}
	{{#*inline "backgroundUrl"}}/assets/images/projectone12_header.jpg{{/inline}}

	
	{{#*inline "title"}}
		
	{{/inline}}

	
	{{#*inline "description"}}

	<center><h5>Project featured in:</h5>
		<p>Toronto Star, Job Posting Magazine, the Muse, Elle Magazine, Talent Egg and more.</p>
		<br>

		<div class="work-projects grid-container grid-columns-3">
      		<a class="grid-item grid-item__center" href="https://issuu.com/jobpostingsca/docs/jobpostings-magazine-february-2012" style="background-image:url(/assets/images/jobposting.jpg);"><h1>Job Posting Magazine</h1></a>
      		<a class="grid-item grid-item__center" href="https://www.thestar.com/business/2012/05/29/super_intern_maeghan_smulders_lands_47_job_offers_and_one_job_after_112day_speed_interning_spree.html" class="grid-item grid-item__center" style="background-image:url(/assets/images/TorontoStar.jpg)"><h1>Toronto Star</h1></a>
      		<a class="grid-item grid-item__center" href="https://www.youtube.com/playlist?list=PLFxQvGFq1yRU_SWdBVkqivlzubE2cik5_" class="grid-item grid-item__center" style="background-image:url(/assets/images/CTV_news.jpg)"><h1>CTV News</h1></a>
     		
    	</div>

		<p>After PasswordBox was acquired by Intel in 2015, we launched a new jointly-built software called True Key by Intel Security.<br>  My team grew along with my responsibilities as I became the public face, growth hacker and creative soul of True Key. 🤗</p>
		<br>


		
	{{/inline}}
	
	{{#*inline "longer_description"}}
		
	{{/inline}}

	{{#*inline "roles"}}
		Roles: launch strategy / project management / creative concept / awareness / PR / user acquisition / content marketing / social media marketing / technical marketing / business development evangelist + spokesperson
	{{/inline}}

	{{#*inline "feature"}}
		 <section id="about">

		 	<div class="grid-container grid-columns-2">
      <div class="grid-item" style="background-image:url(/assets/images/startupfun.jpg);"></div>
      <div class="grid-item">
        <div class="boxed">
          <h4>Something Unexpected</h4>
          <p>I joined PasswordBox as the 8th employee as a project manager.  The CEO/Founder and I connected, and my role quickly transitioned to the Director of Marketing leading an array of efforts from our launch out of private beta, to driving millions of downloads worldwide. I was given so much responsibility I was able to grow</p>
        </div>
      </div>
    </div>
  </div>
	{{/inline}}

{{/project}}
{{#> footer}}
{{/footer}}