{{#> project}}
	{{#*inline "backgroundUrl"}}/assets/images/background_head2.jpeg{{/inline}}

	
	{{#*inline "title"}}
		
	{{/inline}}

	
	{{#*inline "description"}}

	<center><h5>Project featured in:</h5>
		<p>The Toronto Star, Job Posting Magazine, McLean's Magazine, The Muse, Elle Magazine, CTV and more.</p>
		<br>

		<div class="work-projects grid-container grid-columns-3">
      		<a target="_blank" class="grid-item grid-item__center" href="https://issuu.com/jobpostingsca/docs/jobpostings-magazine-february-2012" style="background-image:url(/assets/images/jobposting.jpg);"><h1>Job Posting Magazine</h1></a>
      		<a target="_blank" class="grid-item grid-item__center" href="https://www.thestar.com/business/2012/05/29/super_intern_maeghan_smulders_lands_47_job_offers_and_one_job_after_112day_speed_interning_spree.html" class="grid-item grid-item__center" style="background-image:url(/assets/images/TorontoStar.jpg)"><h1>Toronto Star</h1></a>
      		<a target="_blank" class="grid-item grid-item__center" href="https://archive.maeghansmulders.com/Project_ONE12.html" class="grid-item grid-item__center" style="background-image:url(/assets/images/CTV_news.jpg)"><h1>CTV News</h1></a>
     		
    	</div>

		<p>After graduating from University I was lucky to be offered several different positions.  Instead of pursuing a typical path,<br> I created an initiative that allowed me to Intern at 10 different companies in 112 days across North America, with hopes of finding my dream job.</p>
		<br>

		 <button class="button">
        <a href="https://archive.maeghansmulders.com/Project_ONE12.html">Visit original website</a>
        </button>
        <br>
        <br>


		
	{{/inline}}
	
	{{#*inline "longer_description"}}
		
	{{/inline}}

	{{#*inline "roles"}}
		Roles: Fund Raising / PR / Sales / Project Manamgent / Strategy / Dealing with Uncertainty / Creating Value
	{{/inline}}

	{{#*inline "feature"}}
		 <section id="about">

		 	<div class="grid-container grid-columns-2">
      <div class="grid-item" style="background-image:url(/assets/images/intern_press.jpg);"></div>
      <div class="grid-item">
        <div class="boxed">
          <h4>Something Random</h4>
          <p>ProjectONE12 was an amazing time spent travelling across North America, working with people who inspire me and on projects I found meaningful.  I faced many challenges, not least of which, was staying on my unconventional path.   It was a first for many things in my life.</p>
        </div>
      </div>
    </div>
  </div>
	{{/inline}}

{{/project}}
{{#> footer}}
{{/footer}}