{{#> project}}
	{{#*inline "backgroundUrl"}}/assets/images/passwordbox_header.jpg{{/inline}}

	{{#*inline "title"}}
		PasswordBox
	{{/inline}}

	
	{{#*inline "description"}}
			<h4>Description:</h4>
				<p>I joined PasswordBox as the Director of Product Marketing in 2013. We raised some funding, acquired a company, won major industry awards in Las Vegas and New York City, moved in to a beautiful office and grew the team from eight full-time employees to 44 in less than eighteen months.</p>

				<p>In 2015, PasswordBox was acquired by Intel to pursue a joint mission of eliminating the password.</p>
				<br>
	<ul id="rig">
	    {{>
	      project_block
	      url="https://www.wsj.com/articles/the-answer-to-what-is-my-password-again-1377036496"
	      image="/assets/images/news_passwordbox.jpg"
	      text="In the news"
	    }}
	     {{>
	      project_block
	      url="https://www.youtube.com/watch?time_continue=4&v=hpgXFvYw0DQ"
	      image="/assets/images/speaker_passwordbox.jpg"
	      text="Spokesperson"
	    }}
	    {{>
	      project_block
	      url="https://techcrunch.com/2013/11/13/passwordbox-series-a/"
	      image="/assets/images/funding_passwordbox.jpg"
	      text="Venture Funding"
	    }}
	    {{>
	      project_block
	      url="https://www.cantechletter.com/2014/01/montreals-passwordbox-snags-best-mobile-app-award-ces-2014/"
	      image="/assets/images/CES_passwordbox.jpg"
	      text="CES Best App"
	    }}
		</ul>

		<center><h5>Work featured in:</h5>
		<p>TechCrunch, Wall Street Journal,  NY Times, Mashable, Business Insider, HuffPost, and more.</p>
		<br>
	{{/inline}}
	
	{{#*inline "longer_description"}}
		
	{{/inline}}

	{{#*inline "roles"}}
		Roles: launch strategy / project management / PR / user acquisition / content marketing / social media / technical marketing / business development / evangelist + spokesperson 
	{{/inline}}

	{{#*inline "feature"}}
		<h5>Managing A little bit of everything, some highlights include:</h5>
		<ul>
			<li>Leading the PasswordBox launch from private beta to millions of app downloads worldwide</li>
			<li>Working with a cross-functional team of product, marketing, sales, support and communications</li>
			<li>Pitching and winning The Best App award at CES the world’s largest consumer electronic show</li>
			<li>Reporting directly to the CEO, COO and CTO gaining invaluable startup experience 
			</li>
			<li>Trusted with responsibility that was WAY above me… and always managed to find the right mix of support, resources and execute</li>
			<li>Being a part of the most incredible team and supporting the efforts in fundraising and later, two acquustions (acquiring a company and being acquired)</li>
		</ul>
		<br>
		<br>
		<br>
		<center>
			<button class="button">
				<a href="/#work">See more work</a>
			</button>
		</center>
	{{/inline}}

{{/project}}
{{#> footer}}
{{/footer}}


