{{#> project}}
	{{#*inline "backgroundUrl"}}/assets/images/projectone12_header.jpg{{/inline}}

	{{#*inline "title"}}
		ProjectONE12
	{{/inline}}

	
	{{#*inline "description"}}
			<h4>Description:</h4>
				<p>After graduating from University I was in a very fortunate position of an abundance of job offers. Wanting to find a job right for me, I endeavoured on a self-created initiative called ProjectONE12; where I interred at 10 different companies in 112 days across North America (for free).</p>  				
				<br>
	<ul id="rig">
	     {{>
	      project_block
	      url="https://www.thestar.com/business/2012/05/29/super_intern_maeghan_smulders_lands_47_job_offers_and_one_job_after_112day_speed_interning_spree.html"
	      image="/assets/images/toronto_star.jpg"
	      text="Cover Story"
	    }}
	     {{>
	      project_block
	      url="https://trendytechie.ca/2014/02/24/maeghan-smulders-never-settle-and-stay-curious/"
	      image="/assets/images/CTV_news.jpg"
	      text="Spokesperson"
	    }}
	    {{>
	      project_block
	      url="https://issuu.com/jobpostingsca/docs/jobpostings-magazine-february-2012/"
	      image="/assets/images/projectone12.jpg"
	      text="Job Posting Magazine"
	    }}
	    {{>
	      project_block
	      url="http://www.ellecanada.com/life-and-love/article/career-advice-expert-tips-to-help-you-land-your-dream-job"
	      image="/assets/images/black.jpg"
	      text="Elle Magazine"
	    }}
		</ul>

		<center><h5>Work featured in:</h5>
		<p>Cover of the Toronto Star, CBC, Elle Magazine, Women of Influence, Global TV, CTV News, McLean's Magazine, The Muse and more.</p>
		<br>
		<center>
			<button class="button2">
				<a href="http://archive.maeghansmulders.com/Project_ONE12.html?utm_source=website&utm_medium=work&utm_campaign=project_112">Original website</a>
			</button>
		</center>
		<br>
	{{/inline}}
	
	{{#*inline "longer_description"}}
		
	{{/inline}}

	{{#*inline "roles"}}
		Roles: project management / creative concept / fund raising / PR / marketing / content / advocate / listener / learner
	{{/inline}}

	{{#*inline "feature"}}
		<h5>As creator and chief intern, highlights include:</h5>
		<ul>
			<li>Learned to build first website </li>
			<li>Created digital media package to promote the initiative and gain followers</li> 
			<li>Raised $7,000 from sponsors and supporters</li>
			<li>Learned the value of creating opportunity for yourself</li>   
			<li>Managed my project and create opportunity with little to no direction</li>
			<li>Secured international media coverage in print, digital and mass media outlets</li> 
			<li>Delivered focused results for each internship and received full-time job offers from each company</li>
			<li>Continue to inspire students and entry level individuals in defining their career path</li> 
		</ul>
		<br>
		<br>
		<br>
		<center>
			<button class="button">
				<a href="www.maeghansmulders.com/#work">See more work</a>
			</button>
		</center>
	{{/inline}}

{{/project}}
{{#> footer}}
{{/footer}}