{{#> project}}
	{{#*inline "title"}}
		Project ONE12
	{{/inline}}

	{{#*inline "description"}}
		<p>I joined PasswordBox as the Director of Product Marketing in 2013. We raised some funding, acquired a company, won major industry awards in Sin City and the Big Apple, moved in to a beautiful office and grew the team from eight full-time employees to 44 in less than eighteen months.</p>

		<p>In 2015, PasswordBox was acquired by Intel to pursue a joint mission of eliminating the password completely.</p>
	{{/inline}}
	
	{{#*inline "longer_description"}}
		<p>Managing A little bit of everything, some highlights include:</p>
		<ul>
			<li>Leading the PasswordBox launch from private beta to driving millions of app downloads worldwide</li>
			<li>Working with a cross-functional team of product, marketing, sales, support and communications</li>
			<li>Pitching and winning The Best App award in 2013 at CES the world’s largest consumer electronic show</li>
			<li>Reported directly to the CEO, COO and CTO gaining invaluable startup experience & friends</li>
			<li>Trusted with responsibility that was WAY above me… and always managed to find the right mix of support, resources and effort to get the job done</li>
			<li>Being a part and working with the most incredible individuals across multiple disciplines - PasswordBox was an A player team</li>
		</ul>
	{{/inline}}

	{{#*inline "roles"}}
		Roles: launch strategy / project management / PR / user acquisition / content marketing / social media marketing / technical marketing / business development evangelist + spokesperson 
	{{/inline}}


{{/project}}