{{#> project}}
	{{#*inline "backgroundUrl"}}/assets/images/speaking_header.jpg{{/inline}}

	{{#*inline "title"}}
		
	{{/inline}}

	
	{{#*inline "description"}}

	<center><h5>Want me talk about something?</h5>
		
			
		<br>

		<div class="work-projects grid-container grid-columns-3">
      		<a class="grid-item grid-item__center" style="background-image:url(/assets/images/panelist.jpg);"><h1>Panelist</h1></a>
      		<a class="grid-item grid-item__center" class="grid-item grid-item__center" style="background-image:url(/assets/images/keynote.jpg)"><h1>Keynote</h1></a>
      		<a class="grid-item grid-item__center" class="grid-item grid-item__center" style="background-image:url(/assets/images/publicrelations.jpg)"><h1>Evangilist</h1></a>
     		
    	</div>

      
		<p>Cool! I like to share my personal story, defining a career path, lessons from startup life, or how to market your product! <br><br>

		<button class="button">
          <a href="mailto:hi@maeghansmulders.com">You can get in touch with me here</a>
        </button><br><br>


		
	{{/inline}}
	
	{{#*inline "longer_description"}}
		
	{{/inline}}

	{{#*inline "roles"}}
	
	{{/inline}}

	{{#*inline "feature"}}
		 <section id="about">

		 	<div class="grid-container grid-columns-2">
      <div class="grid-item" style="background-image:url(/assets/images/speaker_cool.jpg);"></div>
      <div class="grid-item">
        <div class="boxed">
          <h4>Something Personal</h4>
          <p>When I was 17 years old, my mentor signed me up for a Dale Carnegie seminar where we had to stand in front of a crowd each week and share a personal update.  By the end of the seminar, I was nominated by every classmate as the recipient of the ‘highest achievement’ award.  It was the most incredible moment and my parents and mentor were there to share it with me.♥️</p>
        </div>
      </div>
    </div>
  </div>
	{{/inline}}

{{/project}}
{{#> footer}}
{{/footer}}


