{{#> project}}
	{{#*inline "backgroundUrl"}}/assets/images/intel_header.jpg{{/inline}}

	{{#*inline "title"}}
		Speaker & Personality
	{{/inline}}

	
	{{#*inline "description"}}
			<h4>Description:</h4>
				<p>I have a lot of love for storytelling, breaking down complicated problems to share with other, meeting new people and making power-points to support all of the above!</p> 

				<p>I’ve had the privilege to speak on national TV/radio, to live audiences in the thousands and to small niche groups wanting to learn something new. </p>
				<br>
	<ul id="rig">
	    {{>
	      project_block
	      url="http://www.montrealintechnology.com/girl-tech-entrepreneurs/"
	      image="/assets/images/news_passwordbox.jpg"
	      text="All-Girl Hack Night"
	    }}
	     {{>
	      project_block
	      url="http://www.mtroyal.ca/AboutMountRoyal/MediaRoom/SIFEhelps.htm"
	      image="/assets/images/speaker_passwordbox.jpg"
	      text="Military Program"
	    }}
	    {{>
	      project_block
	      url="https://www.facebook.com/EOCMexicoHomes/videos/10150570643153530/"
	      image="/assets/images/funding_passwordbox.jpg"
	      text="Houses in Mexico"
	    }}
	    {{>
	      project_block
	      url="http://www.mtroyal.ca/ProgramsCourses/FacultiesSchoolsCentres/InternationalEducation/NewsAnnouncements/smulders_sweden.htm"
	      image="/assets/images/CES_passwordbox.jpg"
	      text="Research"
	    }}
		</ul>
<button class="button2">
				<a href="http://archive.maeghansmulders.com/Project_ONE12.html?utm_source=website&utm_medium=work&utm_campaign=project_112">Book Me</a>
			</button>
		</center>
		<br>

		
	{{/inline}}
	
	{{#*inline "longer_description"}}
		
	{{/inline}}

	{{#*inline "roles"}}
		Roles: script writer / public speaker / tv personality / background actor / corporate evangelist  
	{{/inline}}

	{{#*inline "feature"}}
		<h5>As a public speaker and corporate evangelist, some highlights include:</h5>
		<ul>
			<li> Being on the global stage with the CEO of Intel to announce a new product offering at CES 2014 </li>
			<li>  Sharing expert opinion on digital security with ABC’s the Balancing Act that was aired on TV across North America  </li>
			<li> Speaking at Google’s Women Techmakers and unoffically named the best talk of the event </li>
			<li>Speaking at tech conferences CES, SXSW, Samsung and more</li>
			<li> Mentoring women in the tech industry on advancing in their career </li>

		</ul>
		<br>
		<br>
		<br>
		<center>
			<button class="button">
				<a href="/#work">See more work</a>
			</button>
		</center>
	{{/inline}}

{{/project}}
{{#> footer}}
{{/footer}}


