{{#> project}}
	{{#*inline "backgroundUrl"}}/assets/images/passwordbox_header.jpg{{/inline}}

	{{#*inline "title"}}
		
	{{/inline}}

	
	{{#*inline "description"}}

	<center><h5>Work featured in:</h5>
		<p>TechCrunch, The Business Insider, Fox News, The Wall Street Journal, Montreal Gazette, CBC News and more. </p>
		<br>

		<div class="work-projects grid-container grid-columns-3">
      		<a target="_blank" class="grid-item grid-item__center" href="https://techcrunch.com/2013/11/13/passwordbox-series-a/" style="background-image:url(/assets/images/fundraising.jpg);"><h1>Fund Raising</h1></a>
      		<a target="_blank" class="grid-item grid-item__center" href="https://www.cantechletter.com/2014/01/montreals-passwordbox-snags-best-mobile-app-award-ces-2014/" class="grid-item grid-item__center" style="background-image:url(/assets/images/ces_passwordbox.jpg)"><h1>Award-Winning</h1></a>
      		<a target="_blank" class="grid-item grid-item__center" href="https://techcrunch.com/2014/03/31/passwordbox-partnership-lets-the-nymi-ecg-wristband-log-you-in-anywhere-on-mobile/" class="grid-item grid-item__center" style="background-image:url(/assets/images/partnerships2.jpg)"><h1>Partnerships</h1></a>
     		
    	</div>

    	<div class="work-projects grid-container grid-columns-3">
    		<a target="_blank" class="grid-item grid-item__center" href="https://www.youtube.com/watch?time_continue=4&v=hpgXFvYw0DQ" style="background-image:url(/assets/images/pbpr.jpg);"><h1>Public Relations</h1></a>
    		<a target="_blank" class="grid-item grid-item__center" href="https://betakit.com/betakit-at-sxsw-passwordbox-and-a-former-super-intern-are-growing-together-and-fast/" class="grid-item grid-item__center" style="background-image:url(/assets/images/pbevents.jpg);"><h1>Events & Promotion</h1></a>
    		<a target="_blank" class="grid-item grid-item__center" href="https://techcrunch.com/2014/12/01/intel-buys-passwordbox-to-add-id-management-to-its-security-business/" style="background-image:url(/assets/images/acquisition.jpg);"><h1>Acqusition</h1></a>
    	</div>
      
		<p>PasswordBox is a Canadian startup that helps remove the hassle of remembering passwords. The company raised funding, <br>scalled globally and was later acquired by Intel to move forward with our joint mission of eliminiating the password.</p>
		<br>


		
	{{/inline}}
	
	{{#*inline "longer_description"}}
		
	{{/inline}}

	{{#*inline "roles"}}
		Roles: launch strategy / project management / globalization / PR / user acquisition / content marketing / social media marketing / fund raising / <br>business development / office culture / customer support / product content / hype girl
	{{/inline}}

	{{#*inline "feature"}}
		 <section id="about">

		 	<div class="grid-container grid-columns-2">
      <div class="grid-item" style="background-image:url(/assets/images/startupfun.jpg);"></div>
      <div class="grid-item">
        <div class="boxed">
          <h4>Something Unexpected</h4>
          <p>I joined PasswordBox as the 8th employee and a project manager.  The CEO helped me grow quickly and my role transitioned to the Director of Marketing leading an array of efforts from our launch out of private beta, to driving millions of downloads worldwide.</p>
        </div>
      </div>
    </div>
  </div>
	{{/inline}}

{{/project}}
{{#> footer}}
{{/footer}}

