{{#> project}}
	{{#*inline "backgroundUrl"}}/assets/images/passwordbox_header.jpg{{/inline}}

	{{#*inline "title"}}
		
	{{/inline}}

	
	{{#*inline "description"}}

	<center><h5>Work featured in:</h5>
		<p>Mashable, Business Insider, USA Today, Huffington Post, Ellen Degeneres and more.</p>
		<br>

		<div class="work-projects grid-container grid-columns-3">
      		<a class="grid-item grid-item__center" href="https://techcrunch.com/2013/11/13/passwordbox-series-a/" style="background-image:url(/assets/images/fundraising.jpg);"><h1>Fund Raising</h1></a>
      		<a class="grid-item grid-item__center" href="https://www.cantechletter.com/2014/01/montreals-passwordbox-snags-best-mobile-app-award-ces-2014/" class="grid-item grid-item__center" style="background-image:url(/assets/images/ces_passwordbox.jpg)"><h1>Award-Winning</h1></a>
      		<a class="grid-item grid-item__center" href="https://www.youtube.com/playlist?list=PLFxQvGFq1yRU_SWdBVkqivlzubE2cik5_" class="grid-item grid-item__center" style="background-image:url(/assets/images/partnerships2.jpg)"><h1>Partnerships</h1></a>
     		
    	</div>

    	<div class="work-projects grid-container grid-columns-3">
    		<a class="grid-item grid-item__center" href="https://www.youtube.com/watch?time_continue=4&v=hpgXFvYw0DQ" style="background-image:url(/assets/images/pbpr.jpg);"><h1>Public Relations</h1></a>
    		<a class="grid-item grid-item__center" href="https://betakit.com/betakit-at-sxsw-passwordbox-and-a-former-super-intern-are-growing-together-and-fast/" class="grid-item grid-item__center" style="background-image:url(/assets/images/pbevents.jpg);"><h1>Events & Promotion</h1></a>
    		<a class="grid-item grid-item__center" href="https://techcrunch.com/2014/12/01/intel-buys-passwordbox-to-add-id-management-to-its-security-business/" style="background-image:url(/assets/images/acquisition.jpg);"><h1>Acqusition</h1></a>
    	</div>
      
		<p>After PasswordBox was acquired by Intel in 2015, we launched a new jointly-built software called True Key by Intel Security.<br>  My team grew along with my responsibilities as I became the public face, growth hacker and creative soul of True Key. 🤗</p>
		<br>


		
	{{/inline}}
	
	{{#*inline "longer_description"}}
		
	{{/inline}}

	{{#*inline "roles"}}
		Roles: launch strategy / project management / creative concept / awareness / PR / user acquisition / content marketing / social media marketing / technical marketing / business development evangelist + spokesperson
	{{/inline}}

	{{#*inline "feature"}}
		 <section id="about">

		 	<div class="grid-container grid-columns-2">
      <div class="grid-item" style="background-image:url(/assets/images/startupfun.jpg);"></div>
      <div class="grid-item">
        <div class="boxed">
          <h4>Something Unexpected</h4>
          <p>I joined PasswordBox as the 8th employee as a project manager.  The CEO/Founder and I connected, and my role quickly transitioned to the Director of Marketing leading an array of efforts from our launch out of private beta, to driving millions of downloads worldwide. I was given so much responsibility I was able to grow</p>
        </div>
      </div>
    </div>
  </div>
	{{/inline}}

{{/project}}
{{#> footer}}
{{/footer}}

