{{#> project}}
	{{#*inline "backgroundUrl"}}/assets/images/passwordbox_header.jpg{{/inline}}

	{{#*inline "title"}}
		Videos & Commercials
	{{/inline}}

	
	{{#*inline "description"}}
			<h4>Description:</h4>
				<p>My creative vibes were able to flow in the creation of a few product videos, television commercials and online ad video content.</p> 

					<p>Contributing to the script direction, technical accuracy and editing was a fun gig and I got to work with so many incredible talented people.</p>
				<br>
	<ul id="rig">
	    {{>
	      project_block
	      url="https://www.wsj.com/articles/the-answer-to-what-is-my-password-again-1377036496"
	      image="/assets/images/news_passwordbox.jpg"
	      text="In the news"
	    }}
	     {{>
	      project_block
	      url="https://www.youtube.com/watch?time_continue=4&v=hpgXFvYw0DQ"
	      image="/assets/images/speaker_passwordbox.jpg"
	      text="Spokesperson"
	    }}
	    {{>
	      project_block
	      url="https://techcrunch.com/2013/11/13/passwordbox-series-a/"
	      image="/assets/images/funding_passwordbox.jpg"
	      text="Venture Funding"
	    }}
	    {{>
	      project_block
	      url="https://www.cantechletter.com/2014/01/montreals-passwordbox-snags-best-mobile-app-award-ces-2014/"
	      image="/assets/images/CES_passwordbox.jpg"
	      text="CES Best App"
	    }}
		</ul>

		<center><h5>Work featured on:</h5>
		<p>Television, digital ads, partner websites and product reviews worldwide.</p>
		<br>
	{{/inline}}
	
	{{#*inline "longer_description"}}
		
	{{/inline}}

	{{#*inline "roles"}}
		Roles:  creative concept / multi-team management / agency management / script writing / product technician / creative output objectives 
	{{/inline}}

	{{#*inline "feature"}}
		<h5>As a creative video & Product director, some highlights include:</h5>
		<ul>
			<li> Storytelling through animation, short film and longer formatted film </li>
			<li>Working with a cross-functional team of product, marketing, sales, support and communications</li>
			<li> Partnering with the White House (Obama Administration) in the nationwide campaign “Lock Down Your Login” in the creation to it’s promotion across the USA to encourage better password habits</li>
			<li>Creating content that has been used by Intel Worldwide in marketing and promotion</li>
			<li>Meeting Jim Parsons & Rob Cantor ☺️</li>
			<li>Collaborating with great partners in bringing these creative concepts to life</li>
		</ul>
		<br>
		<br>
		<br>
		<center>
			<button class="button">
				<a href="www.maeghansmulders.com/#work">See more work</a>
			</button>
		</center>
	{{/inline}}

{{/project}}
{{#> footer}}
{{/footer}}


