{{#> project}}
	{{#*inline "backgroundUrl"}}/assets/images/volunteer_header.jpg{{/inline}}

	{{#*inline "title"}}
		
	{{/inline}}

	
	{{#*inline "description"}}

	<center><h5>Giving Back</h5>
		<br>

		<div class="work-projects grid-container grid-columns-3">
      		<a target="_blank" class="grid-item grid-item__center" href="https://www.youtube.com/playlist?list=PLFxQvGFq1yRU1wWQZuD7Y85OhYDtQ6zRQ" style="background-image:url(/assets/images/houses.jpg);"><h1>Building Houses</h1></a>
      		<a target="_blank" class="grid-item grid-item__center" href="https://www.inacademy.eu/" class="grid-item grid-item__center" style="background-image:url(/assets/images/eia.jpg)"><h1>European Innovation Academy</h1></a>
      		<a target="_blank" class="grid-item grid-item__center" href="https://www.meetup.com/Montreal-All-Girl-Hack-Night/" class="grid-item grid-item__center" style="background-image:url(/assets/images/hacknight_copy.jpg)"><h1>All-Girl Hack Night</h1></a>
     		
    	</div>
    	<div class="work-projects grid-container grid-columns-3">
    		<a target="_blank" href="https://www.metro.us/news/military-wives-get-biz-workshop/tmWjbz---18SX3gFvd1Ids" class="grid-item grid-item__center" style="background-image:url(/assets/images/military.jpg);"><h1>Military Wives</h1></a>
    		<a target="_blank" href="http://www.enactus.ca/wp-content/uploads/2014/01/About-Maeghan-Smulders.pdf" class="grid-item grid-item__center" style="background-image:url(/assets/images/SIFE.jpg);"><h1>Enactas/SIFE</h1></a>
    		<a target="_blank" href="https://www.mtroyal.ca/ProgramsCourses/FacultiesSchoolsCentres/InternationalEducation/NewsAnnouncements/smulders_sweden.htm" class="grid-item grid-item__center" style="background-image:url(/assets/images/research.jpg);"><h1>Research</h1></a>
    		
    	</div>
      
		<p>People choose to volunteer for many different reasons, but for me it was part of my core curriculum growing up. <br>Today I mainly mentor students and startups, but try my best to give a helping hand anywhere I can.</p>
		<br>


		
	{{/inline}}
	
	{{#*inline "longer_description"}}
		
	{{/inline}}

	{{#*inline "roles"}}
		Role: Trying to be a good person.
	{{/inline}}

	{{#*inline "feature"}}
		 <section id="about">

		 	<div class="grid-container grid-columns-2">
      <div class="grid-item" style="background-image:url(/assets/images/guatamala.jpeg);"></div>
      <div class="grid-item">
        <div class="boxed">
          <h4>Something Learned</h4>
          <p>I spent a year researching how to give back in a more impactful way.  During that time, I fell upon the concept of ‘effective altruism’ and two great books: The Moment of Lift and Factfullness.  It changed my way of thinking and I’m now doing my best to invest in women, education and wide-spread disease prevention.</p>
        </div>
      </div>
    </div>
  </div>
	{{/inline}}

{{/project}}
{{#> footer}}
{{/footer}}


