{{#> project}}
	{{#*inline "backgroundUrl"}}/assets/images/intel_header.jpg{{/inline}}

	{{#*inline "title"}}
		Volunteer Work
	{{/inline}}

	
	{{#*inline "description"}}
			<h4>Description:</h4>
				<p>My parents incorporated giving back into my studies while homeschooling growing up and today I value being able to giveback where I can.</p> 

				<p>I’ve locally lead meetup groups for women in tech, had the opportunity to volunteer abroad as well as, create programs for military families in Canada to start businesses while their loved ones were serving in the war. </p>
				<br>
	<ul id="rig">
	    {{>
	      project_block
	      url="http://www.montrealintechnology.com/girl-tech-entrepreneurs/"
	      image="/assets/images/news_passwordbox.jpg"
	      text="All-Girl Hack Night"
	    }}
	     {{>
	      project_block
	      url="http://www.mtroyal.ca/AboutMountRoyal/MediaRoom/SIFEhelps.htm"
	      image="/assets/images/speaker_passwordbox.jpg"
	      text="Military Program"
	    }}
	    {{>
	      project_block
	      url="https://www.facebook.com/EOCMexicoHomes/videos/10150570643153530/"
	      image="/assets/images/funding_passwordbox.jpg"
	      text="Houses in Mexico"
	    }}
	    {{>
	      project_block
	      url="http://www.mtroyal.ca/ProgramsCourses/FacultiesSchoolsCentres/InternationalEducation/NewsAnnouncements/smulders_sweden.htm"
	      image="/assets/images/CES_passwordbox.jpg"
	      text="Research"
	    }}
		</ul>

		
	{{/inline}}
	
	{{#*inline "longer_description"}}
		
	{{/inline}}

	{{#*inline "roles"}}
		Roles: organizer / researcher / builder / listener / hug giver  
	{{/inline}}

	{{#*inline "feature"}}
		<h5>As a volunteer and caring soul, some things I'm proud of</h5>
		<ul>
			<li> Building 6 homes in developing countries</li>
			<li> Organzing local meet up groups to educate and support others in the community</li>
			<li> Mentoring university students as they explore life after school </li>
			<li>Volunteer with various groups when ever I can!</li>
		</ul>
		<br>
		<br>
		<br>
		<center>
			<button class="button">
				<a href="/#work">See more work</a>
			</button>
		</center>
	{{/inline}}

{{/project}}
{{#> footer}}
{{/footer}}


